.dialogs {
    display: grid;
    grid-template-columns: 4.5fr 1fr;
    column-gap: 10px;
}
a {
    color: rgb(121, 121, 121);
    text-decoration: none;
}
.left {
    display: grid;
    grid-auto-rows: 60px;
    row-gap: 10px;
}
.right {
    display: grid;
}