.header {
    grid-area: h;
    display: grid;
    grid-template:  1fr / 35px 48px 1fr;
    background: rgb(32, 196, 147);
  }
  .logo {
    grid-column-start: 2;
    align-self: center;
    width: 40px;
    height: 40px;
    background: rgb(70, 98, 190);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .tittle {
    align-self: center;
  }