.new_post_row {
    display: grid;
    grid-template: 30px 1fr 30px / repeat(3, 1fr);
    grid-row-gap: 6px;
    margin-bottom: 6px;
}
.new_post_row textarea {
    grid-column: 1 / 5;
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.new_post_row button {
    color:rgb(32, 196, 147);
    grid-column-end: -1;
    grid-row-end: -1;
    width: 60px;
    justify-self: end;
    height: 26px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(32, 196, 147);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 18px;
}
.new_post_row button:hover {
    background: rgb(32, 196, 147);
    cursor: pointer;
    color: white;
}