.item {
    padding: 10px;
    display: grid;
    grid-template: 1fr / 30px 1fr;
    color: rgb(148, 148, 148);
    text-decoration: none;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 3px 3px 30px 3px;
    -webkit-border-radius: 3px 3px 30px 3px;
    -moz-border-radius: 3px 3px 30px 3px;
    -ms-border-radius: 3px 3px 30px 3px;
    -o-border-radius: 3px 3px 30px 3px;
    place-content: center start;
}
.item.active{
    color: rgb(0, 0, 0);
}   
.friend {
    width: 20px;
    height: 20px;
}